node_modules/
dist/
dist-ssr/
.vite/
coverage/

.env.local
.env.*.local
*.local

logs
*.log
npm-debug.log*

.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
